* {
  font-family: "Poltawski Nowy", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/*--reset--*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--end reset--*/


.container {
  width: 1440px;
  max-width: 90%;
  margin: auto;
  padding: 0 16px;
}

header nav {
  display: inline-block;
}

ul {
  padding: 0;
  margin: 0;
}

header nav ul li {
  display: inline-block;
  list-style: none;
}

header nav ul li a {
  color: #3e3e3e;
  font-size: 15px;
  letter-spacing: 0.37px;
  margin-right: 24px;
  text-decoration: none;
}

header nav ul li a:hover{
  color: rgb(0, 163, 70);
}

header nav ul li:last-of-type a {
  margin-right: 0px;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.row {
  margin: 0%;
  text-align: center;
  padding: 5%;
  color: #FFCC00;
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
    background-color: #0f0f0f;
}


.nav-container {
  display: flex;
  justify-content: space-between;
}

header .container-header {
  background-color: #FFCC00;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
   height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.aaron-image {
  height: 50px;
}

/*--rodapé--*/
footer {
    text-align: center;
    background-color: #191919;
    color: #fff;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}