* {
  font-family: "Poltawski Nowy", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

header {
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
